*{
    
    font-family: 'Poppins', sans-serif;
    margin: 2px
  }
  
  h1 {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 4em;
    
  }

.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid > * {
    flex: 1 1 20em;
}

h2 {
    background-color: #bfbfbf;
    border: 2px solid black;
    margin-right: 15px;
    padding: 40px 10px 5px 10px;
}
  
  p {
    background-color: #bfbfbf;
    border: 2px solid black;
    padding: 60px 10px 10px 10px;
    
  }
  
  
  #container {
    position: relative;
    
  }

  .title {
    background-color:#C14543 ;
    color: white;
    position:absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    width: 120px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  #beef {
    background-color: #C14543;
  }
  
  #chicken {
    background-color: #d59898;
    color: black;
  }

  #sushi {
    background-color: #e5d198;
    color: black;
  }

